.gameDiv * {
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas1 {
    z-index: -1;
    width: 852px;
    height: 683px;
    border: 2px solid black;
    background-image: url(assets/img/mainmenu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#txtName {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BUTTONS */

#startGameBtn {
    margin-top: 500px;
    margin-left: 772px;
    width: 508px;
    height: 148px;
    background-image: url(assets/img/Play_normal.png);
}

#startGameBtn:hover {
    background-image: url(assets/img/Play_pressed.png);
    cursor: pointer;
}

#pause {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
    width: 101px;
    height: 53px;
    background-image: url(assets/img/resume_normal.png);
}

#pause:hover {
    background-image: url(assets/img/resume_pressed.png);
    cursor: pointer;
}

#tryAgain {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
    width: 428px;
    height: 128px;
    background-image: url(assets/img/Try_normal.png);
}

#tryAgain:hover {
    background-image: url(assets/img/Try_pressed.png);
    cursor: pointer;
}

#Lauter {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -115px;
    margin-left: 230px;
    width: 32px;
    height: 32px;
    background-image: url(assets/img/Lauter.png);
}

#Leiser {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -60px;
    margin-left: 230px;
    width: 32px;
    height: 32px;
    background-image: url(assets/img/Leiser.png);
}

#controls {
    display: flex;
    margin-top: 10px;
    margin-left: 772px;
    width: 508px;
    height: 148px;
    background-image: url(assets/img/Controls_normal.png);
}

#controls:hover {
    background-image: url(assets/img/Controls_pressed.png);
    cursor: pointer;
}

#credits {
    display: flex;
    margin-top: 10px;
    margin-left: 772px;
    width: 508px;
    height: 148px;
    background-image: url(assets/img/Credits_normal.png);
}

#credits:hover {
    background-image: url(assets/img/Credits_pressed.png);
    cursor: pointer;
}

#muteBtn {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(assets/img/mute.png);
    background-color: aliceblue;
}

#muteBtn:active {
    background-image: url(assets/img/Credits_normal.png);
}

#fullscreenBtn {
    position: absolute;
    top: 10%;
    left: 0;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(assets/img/fullscreenBtn.png);
    background-color: aliceblue;
}

#back {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    width: 59px;
    height: 38px;
    background-image: url(assets/img/Back_normal.png);
}

#back:hover {
    background-image: url(assets/img/Back_pressed.png);
    cursor: pointer;
}

#mainDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoEl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#logoEl img {
    width: 20%;
}